.profile {
    margin-left: 50px;
}

.profile__container {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    display: flex;
}

.profile__left {
    width: 250px;
    border-right: 2px solid #999999;
}

.profile__item {
    display: flex;
    cursor: pointer;
    margin-bottom: 30px;
}

.profile__item_active {
    display: flex;
    cursor: pointer;
    margin-bottom: 30px;
    color: #FCA311;
    border-right: 3px solid #FCA311;
}

.profile__item:hover {
    color: #FCA311;
    border-right: 3px solid #FCA311;
}

.profile__item1 {
    display: flex;
    cursor: pointer;
    color: red;
    margin-top: 130%;
}

.profile__item1:hover {
    color: red;
    border-right: 3px solid red;
}

.profile__btn{
    background-color: inherit;
    width: 100%;
    text-align: start;
    border: none;
    cursor: pointer;
}

.profile__btn:hover{
    color:red;
}